body{
    background-color:#2b6475;
    color:blanchedalmond;
}
.songs-container{
    width:80%;
    margin:auto;
    background-color:#194350;
}
.songs-container > form{
    width: 50%;
    margin:auto;
    text-align: center;
    margin-top:5px;

}
.song-container{
    border: 3px solid rgba(0,0,0,0.1);
    text-align: center;
    
}
.btn{
    background-color:#ff8882;
    border:none;
    color:blanchedalmond;
}
.btn:hover{
    background-color:#ffc2b4;
}
.nav{
    background-color:#194350;
}
.top-nav{
    background-color:#194350;
    text-align: right;
}

.mod-forms{
    background-color:red;
}